<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>melnica-servlet-demo</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>greetingServlet</servlet-name>
		<servlet-class>com.demo.servlet.GreetingServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>goodByeServlet</servlet-name>
		<servlet-class>com.demo.servlet.GoodByeServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>greetingServlet</servlet-name>
		<url-pattern>/servlet/melnica/greeting</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>goodByeServlet</servlet-name>
		<url-pattern>/servlet/melnica/goodbye</url-pattern>
	</servlet-mapping>


	<filter>
		<filter-name>webFilter1</filter-name>
		<filter-class>com.demo.filter.WebFilter1</filter-class>
	</filter>

	<filter>
		<filter-name>webFilter2</filter-name>
		<filter-class>com.demo.filter.WebFilter2</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>webFilter1</filter-name>
		<url-pattern>/*</url-pattern>
		<servlet-name>greetingServlet</servlet-name>
	</filter-mapping>

	<filter-mapping>
		<filter-name>webFilter2</filter-name>
		<url-pattern>/*</url-pattern>
		<servlet-name>greetingServlet</servlet-name>
	</filter-mapping>

	<filter-mapping>
		<filter-name>webFilter1</filter-name>
		<url-pattern>/*</url-pattern>
		<servlet-name>goodByeServlet</servlet-name>
	</filter-mapping>

	<filter-mapping>
		<filter-name>webFilter2</filter-name>
		<url-pattern>/*</url-pattern>
		<servlet-name>goodByeServlet</servlet-name>
	</filter-mapping>
	
</web-app>